#not-found-title {
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%, 0);
    text-align: center;
}

#content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#possible-links {
    padding: 0;
    list-style: none;
}

#possible-links li {
    margin-bottom: 16px;
}