body {
    color: black;
    background-color: white;
}

a {
    color: #27b783;
    text-decoration: none;
}

a:hover {
    font-weight: bold;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #e3e3e3;
        background: #15191d;
    }
}

#site-title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    text-align: center;
}

#content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    text-align: center;
}

.h-card {
    display: none;
}

#jump-tip {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    text-align: center;
}

#footer {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100vw;
    text-align: center;
}

#site-list {
    padding: 0;
    list-style: none;
    font-size: 20px;
}

#site-list li {
    margin-bottom: 16px;
}