body {
    color: black;
    background-color: white;
}

a:link {
    color: #27b783;
}

a:visited {
    color: #ff4263;
}

a:hover {
    font-weight: bold;
}

a:active {
    color: #ff4263;
}

@media (prefers-color-scheme: dark) {
    body {
        color: #e3e3e3;
        background: #15191d;
    }
}

#site-title {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#content-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#footer {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

#site-list {
    padding: 0;
    list-style: none;
    font-size: 20px;
}

#site-list li {
    margin-bottom: 16px;
}