.layui-layer {
    font-size: 14px;
    /* font-weight: 400; */
    /* 前者是 layui-theme-dark 变量，后者是 Layui 颜色。 */
    color: var(--lay-color-text-2, rgba(0, 0, 0, 0.85));
}

.layui-layer *,
.layui-layer *::before,
.layui-layer *::after {
    box-sizing: unset;
    font-size: unset;
    /* font-weight: unset; */
}

/* 上面的样式用来修正主题覆盖的插件样式。修复布局就已经够麻烦的了；颜色的话，考虑到还有深色模式…… */

noscript#javascript-alert {
    position: fixed;
    z-index: 8848;
    left: 0;
    top: 0;
    /* width: 100%;
    height: 100%; */
    background-color: black;
    color: white;
}

noscript#javascript-alert p::before,
noscript#javascript-alert p::after {
    content: '[!!]';
    margin: 16px;
    font-weight: bold;
    color: yellow;
}

div.main-content.region-block-hidden {
    display: none;
}

.smui-clearfix::before,
.smui-clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.smui-container {
    padding: 16px;
    /* position: relative; */
}

.smui-content {
    margin: 0;
    margin-bottom: 16px;
}

.smui-func hr {
    margin: 0;
    margin-bottom: 16px;
}

.smui-func .smui-func-left {
    float: left;
}

.smui-func .smui-func-right {
    float: right;
}