/* 给锚点跳转加 60px 偏移，否则跳转到的目标元素会被导航栏挡住。 */
:target {
    scroll-margin-top: 60px;
}

/* 搜索图标 hover 变色。 */
.search.search-popup-trigger:hover i {
    color: var(--primary-color) !important;
}

/* 搜索框键盘、关闭图标 hover 变色。 */
.search-header .search-input-field-pre:hover,
.search-header .popup-btn-close:hover {
    color: var(--primary-color) !important;
}

/* 搜索结果链接 hover 变色。 */
.search-result-list a:hover {
    color: var(--primary-color) !important;
}

/* 小屏下汉堡菜单 hover 中间条变色。 */
.navbar-bar:hover .navbar-bar-middle {
    background: var(--primary-color) !important;
}

/* 小屏下打开的汉堡菜单 hover 中间条不变色。 */
.navbar-drawer-show:has(.navbar-bar:hover) .navbar-bar-middle {
    background: inherit !important;
}

/* 小屏下汉堡菜单 hover 上下条变色。 */
.navbar-bar:hover .navbar-bar-middle::before,
.navbar-bar:hover .navbar-bar-middle::after {
    background: var(--primary-color) !important;
}

/* 小屏下汉堡菜单里导航栏下方“标签”“分类”“文章”hover 变色。 */
.navbar-container .navbar-drawer .statistics .item:hover div {
    color: var(--primary-color);
}

/* 大屏下 side-bar“标签”“分类”“文章”圆角。 */
.sidebar-content .statistics .item {
    border-radius: 9px;
}

/* 大屏下 side-bar“标签”“分类”“文章”hover 背景变色。 */
.sidebar-content .statistics .item:hover {
    background-color: var(--background-color-transparent-80);
}

/* 大屏下 side-bar“标签”“分类”“文章”hover 文字变色。 */
.sidebar-content .statistics .item:hover div {
    color: var(--primary-color);
}

/* 文章 TOC 项末尾的“…”颜色修正。 */
.post-toc .nav .nav-item {
    color: var(--third-text-color);
}

/* 文章 TOC 激活项末尾的“…”变色。 */
.post-toc .nav .nav-item:has(> a.active-current) {
    color: var(--primary-color);
}

/* 文章 TOC 激活项子项末尾的“…”变回正常颜色。 */
.post-toc .nav .nav-item:has(> a.active-current) .nav-item {
    color: var(--third-text-color);
}

/* 文章 TOC hover 项末尾的“…”变色，若这个 hover 项内没有 hover 的子项。 */
.post-toc .nav .nav-item:hover:not(:has(.nav-child .nav-item:hover)) {
    color: var(--primary-color);
}

/* hover 项内未 hover 的子项的“…”恢复正常颜色。 */
.post-toc .nav .nav-item:hover .nav-child .nav-item:not(:hover) {
    color: var(--third-text-color);
}

/* 文章 TOC hover 项文字变色，若这个 hover 项内没有 hover 的子项。 */
.post-toc .nav .nav-item:hover:not(:has(.nav-child .nav-item:hover)) span {
    color: var(--primary-color);
}

/* hover 项内未 hover 的子项恢复正常颜色。 */
.post-toc .nav .nav-item:hover .nav-child .nav-item:not(:hover) span {
    color: var(--third-text-color);
}

/* 首篇文章的下一篇按钮调整至右边。 */
.article-nav:has(.article-next:first-of-type) {
    flex-direction: row-reverse;
}

/* 去掉 toc 未展开时，文章右上方工具栏与文章主体的间隙，使外观与无 toc 文章一致。*/
.post-page-container:not(.show-toc) .toc-content-container {
    padding: 0;
}

/* 将自定义页面的标题字体与 Redefine 内置页面标题字体统一。 */
.markdown-body .h1,
.markdown-body .h2,
.markdown-body .h3,
.markdown-body .h4,
.markdown-body .h5,
.markdown-body .h6,
.markdown-body h1,
.markdown-body h2,
.markdown-body h3,
.markdown-body h4,
.markdown-body h5,
.markdown-body h6 {
    /* font-family: Satoshi-Variable, sans-serif, 'Noto Sans SC', sans-serif, sans-serif; */
    font-family: Satoshi-Variable, Noto Sans SC, -apple-system, system-ui, Segoe UI, Roboto, Ubuntu, Cantarell, Noto Sans, sans-serif, BlinkMacSystemFont, Helvetica Neue, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial;
    /* font-family: unset; */
}

/* layui-theme-dark 会给 hr 加一条底边，这里取消掉。 */
.markdown-body hr {
    border-bottom: unset !important;
}

/* 上面的样式用来修正主题样式（有时是被插件搞坏的）。 */

.layui-layer {
    font-size: 14px;
    /* font-weight: 400; */
    /* 前者是 layui-theme-dark 变量，后者是 Layui 颜色。 */
    color: var(--lay-color-text-2, rgba(0, 0, 0, 0.85));
}

.layui-layer *,
.layui-layer *::before,
.layui-layer *::after {
    box-sizing: unset;
    /* font-size: unset; */
    /* font-weight: unset; */
}

.layui-layer .layui-btn,
.layui-layer .layui-input,
.layui-layer .layui-select,
.layui-layer .layui-textarea,
.layui-layer .layui-upload-button {
    box-sizing: border-box;
}

.layui-layer-rim {
    border: 6px solid #8D8D8D;
    border: 6px solid rgba(0, 0, 0, .3);
    border-radius: 5px;
    box-shadow: none;
}

.layui-layer-msg {
    min-width: 180px;
    border: 1px solid #D3D4D3;
    box-shadow: none;
}

.layui-layer-hui {
    min-width: 100px;
    background-color: #000;
    filter: alpha(opacity=60);
    background-color: rgba(0, 0, 0, 0.6);
    color: #fff;
    border: none;
}

.layui-layer-hui .layui-layer-close {
    color: #fff;
}

.layui-layer-hui .layui-layer-content {
    padding: 11px 24px;
    text-align: center;
}

.layui-layer-dialog .layui-layer-padding {
    padding: 18px 24px 18px 58px;
    text-align: left;
}

.layui-layer-page .layui-layer-content {
    position: relative;
    overflow: auto;
}

.layui-layer-page .layui-layer-btn,
.layui-layer-iframe .layui-layer-btn {
    padding-top: 10px;
}

.layui-layer-nobg {
    background: none;
}

.layui-layer-iframe iframe {
    display: block;
    width: 100%;
}

.layui-row:before,
.layui-row:after {
    content: "";
    display: block;
    clear: both;
}

.layui-col-xs1,
.layui-col-xs2,
.layui-col-xs3,
.layui-col-xs4,
.layui-col-xs5,
.layui-col-xs6,
.layui-col-xs7,
.layui-col-xs8,
.layui-col-xs9,
.layui-col-xs10,
.layui-col-xs11,
.layui-col-xs12,
.layui-col-sm1,
.layui-col-sm2,
.layui-col-sm3,
.layui-col-sm4,
.layui-col-sm5,
.layui-col-sm6,
.layui-col-sm7,
.layui-col-sm8,
.layui-col-sm9,
.layui-col-sm10,
.layui-col-sm11,
.layui-col-sm12,
.layui-col-md1,
.layui-col-md2,
.layui-col-md3,
.layui-col-md4,
.layui-col-md5,
.layui-col-md6,
.layui-col-md7,
.layui-col-md8,
.layui-col-md9,
.layui-col-md10,
.layui-col-md11,
.layui-col-md12,
.layui-col-lg1,
.layui-col-lg2,
.layui-col-lg3,
.layui-col-lg4,
.layui-col-lg5,
.layui-col-lg6,
.layui-col-lg7,
.layui-col-lg8,
.layui-col-lg9,
.layui-col-lg10,
.layui-col-lg11,
.layui-col-lg12,
.layui-col-xl1,
.layui-col-xl2,
.layui-col-xl3,
.layui-col-xl4,
.layui-col-xl5,
.layui-col-xl6,
.layui-col-xl7,
.layui-col-xl8,
.layui-col-xl9,
.layui-col-xl10,
.layui-col-xl11,
.layui-col-xl12 {
    position: relative;
    display: block;
    box-sizing: border-box;
}

/* 原版 Layui 在弹出层内部的选择框选择时不会溢出弹出层，影响体验，在此修复。 */
.layui-layer-page .layui-layer-content {
    overflow: visible;
}

/* 上面的样式用来修正（主题覆盖的）插件样式。有些修复放在了单独的样式文件中，如 tag-image-masonry.css。修复布局就已经够麻烦的了；颜色的话，考虑到还有深色模式…… */

/* Twikoo 的加载圆圈不是居中的，只在他们官方文档页居中。这段样式就是从文档页扒的。 */
.twikoo .el-loading-spinner .circular {
    margin-left: auto;
    margin-right: auto;
}

/* Twikoo 主配色统一为 Redefine 配色。即使不统一，部分样式也会被 Redefine 覆盖，还不如直接统一。 */

/* 主按钮配色。 */
.el-button--primary {
    background-color: var(--primary-color) !important;
    border-color: var(--primary-color) !important;
}

/* 非主按钮 hover 配色。 */
.twikoo .el-button:not(.el-button--primary):not(.el-button--text):active,
.twikoo .el-button:not(.el-button--primary):not(.el-button--text):focus,
.twikoo .el-button:not(.el-button--primary):not(.el-button--text):hover {
    color: var(--primary-color) !important;
    background-color: rgba(144, 147, 153, 0.063) !important;
    border-color: var(--primary-color) !important;
}

/* 主按钮 hover 配色。 */
.twikoo .el-button:not(.el-button--primary):not(.el-button--text):active span,
.twikoo .el-button:not(.el-button--primary):not(.el-button--text):focus span,
.twikoo .el-button:not(.el-button--primary):not(.el-button--text):hover span {
    color: var(--primary-color) !important;
}

/* 主按钮 disabled 配色。 */
.twikoo .el-button--primary.is-disabled,
.twikoo .el-button--primary.is-disabled:active,
.twikoo .el-button--primary.is-disabled:focus,
.twikoo .el-button--primary.is-disabled:hover {
    background-color: var(--primary-color) !important;
}

/* a 标签 hover 配色。 */
.twikoo a:hover {
    color: var(--primary-color) !important;
}

/* 功能按钮配色。 */
.tk-icon.__comments {
    color: var(--primary-color) !important;
}

/* 点赞、回复按钮配色。 */
.tk-action-link {
    color: var(--primary-color) !important;
}

/* 点赞、回复按钮文字配色。 */
.tk-action-link span {
    color: var(--primary-color) !important;
}

/* 输入框 focus 边框配色。 */
.twikoo .el-input__inner:focus,
.twikoo .el-textarea__inner:focus {
    border-color: var(--primary-color) !important;
}

/* 上面的样式用来根据实际需求覆盖 Twikoo 样式。 */

/* 按钮不一定在 smui-container 里，所以这里强制应用样式。 */
/* 按钮设置 Redefine 主色。 */
.layui-btn:not(.layui-btn-disabled) {
    background-color: var(--primary-color) !important;
}

/* 覆盖上一条，修复描边型按钮背景变色，且暗色模式效果优先。 */
.layui-btn-primary:not(.layui-btn-disabled) {
    background-color: var(--lay-color-bg-4, rgba(0, 0, 0, 0)) !important;
}

/* 开关设置 Redefine 选择色。 */
.layui-form-onswitch {
    border-color: var(--selection-color) !important;
    background-color: var(--selection-color) !important;
}

/* input 聚焦描边设置 Redefine 选择色。 */
.layui-input:focus,
.layui-textarea:focus {
    border-color: var(--selection-color) !important;
}

/* 下拉菜单选中项设置 Redefine 选择色，且暗色模式效果优先。这里得嵌套 var，不然不好使。 */
.layui-form-select dl dd.layui-this {
    color: var(--lay-color-text-1, var(--selection-color)) !important;
}

/* 由右对齐改为左对齐。 */
.smui-container .layui-form-label {
    text-align: left;
}

/* 此处有点击事件。 */
.smui-container.smui-container-settings .layui-form-label.smui-label-sm-setting-data-analytics,
.smui-container.smui-container-settings .layui-form-label.smui-label-sm-setting-ai-generated-excerpt {
    cursor: pointer;
}

/* 英文下“Data Analytics”需 110px 才不折叠。 */
.smui-container.smui-container-settings.smui-lang-en .layui-form-label.smui-label-sm-setting-data-analytics {
    width: 110px;
}

/* 140px 左边距对应上面 110px 宽度。 */
.smui-container.smui-container-settings.smui-lang-en .layui-input-block.smui-block-sm-setting-data-analytics {
    margin-left: 140px;
}

/* 中文下“AI 生成的摘要”需 110px 才不折叠。 */
.smui-container.smui-container-settings.smui-lang-zh .layui-form-label.smui-label-sm-setting-ai-generated-excerpt {
    width: 110px;
}

/* 140px 左边距对应上面 110px 宽度。 */
.smui-container.smui-container-settings.smui-lang-zh .layui-input-block.smui-block-sm-setting-ai-generated-excerpt {
    margin-left: 140px;
}

/* 英文下“AI-generated Excerpt”需 160px 才不折叠。 */
.smui-container.smui-container-settings.smui-lang-en .layui-form-label.smui-label-sm-setting-ai-generated-excerpt {
    width: 160px;
}

/* 190px 左边距对应上面 160px 宽度。 */
.smui-container.smui-container-settings.smui-lang-en .layui-input-block.smui-block-sm-setting-ai-generated-excerpt {
    margin-left: 190px;
}

/* 中文下“默认互动系统”需 90px 才不折叠。 */
.smui-container.smui-container-settings.smui-lang-zh .layui-form-label.smui-label-sm-setting-default-interaction-system {
    width: 90px;
}

/* 120px 左边距对应上面 90px 宽度。 */
.smui-container.smui-container-settings.smui-lang-zh .layui-input-block.smui-block-sm-setting-default-interaction-system {
    margin-left: 120px;
}

/* 英文下“Default Interaction System”需 160px 才不折叠。 */
.smui-container.smui-container-settings.smui-lang-en .layui-form-label.smui-label-sm-setting-default-interaction-system {
    width: 160px;
}

/* 190px 左边距对应上面 160px 宽度。 */
.smui-container.smui-container-settings.smui-lang-en .layui-input-block.smui-block-sm-setting-default-interaction-system {
    margin-left: 190px;
}

/* 上面的样式用来根据实际需求覆盖 Layui 样式。 */

/* 我加的，修复 Redefine 主题覆盖的 mastodon 时间线头像、emoji 样式。 */
.mt-post-avatar-image-big img,
.mt-post-avatar-image-small img {
    margin: 0;
    border-radius: 0.25rem;
    cursor: unset;
}

/* 我加的。 */
.mt-post-header-user .mt-custom-emoji,
.mt-post-text .mt-custom-emoji {
    display: unset;
    margin: 0;
    cursor: unset;
}

/* 我加的。 */
.mt-container {
    --mt-color-link: var(--primary-color) !important;
    --mt-color-btn-bg: var(--primary-color) !important;
    --mt-color-btn-bg-hover: var(--selection-color) !important;
}

/* 我加的，尽量实现类似于原版的效果。 */
.mt-container .mt-post-header-user {
    line-height: 1.2;
}

.mt-container a,
.mt-container a:active,
.mt-container a:link {
    text-decoration: none;
    color: var(--mt-color-link);
}

.mt-container a,
.mt-container button,
.mt-dialog button {
    cursor: pointer;
}

/* !important 我加的，防止 Redefine 覆盖。 */
.mt-container a:not(.mt-post-preview):hover {
    text-decoration: underline !important;
}

/* !important 我加的，防止 Redefine 覆盖。 */
.mt-container .mt-post-header-user>a:hover {
    text-decoration: none !important;
}

/* 我加的。 */
.mt-container a:hover {
    color: var(--mt-color-link);
}

/* 我加的。 */
.mt-container a span {
    color: var(--mt-color-link);
}

.mt-container .mt-post-header-user>a {
    color: var(--mt-color-content-txt) !important;
    overflow-wrap: anywhere;
}

.mt-container .mt-post-header-user-account {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: var(--mt-color-contrast-gray);
}

/* 我加的。 */
.mt-container a.mt-btn-violet,
.mt-container a.mt-btn-violet:hover,
.mt-container a.mt-btn-violet:active {
    text-decoration: none !important;
    color: var(--mt-color-btn-txt)
}

/* 上面的样式用来根据实际需求修复/覆盖 mastodon 时间线样式。 */

.h-card,
#main-h-entry .u-url,
#main-h-entry .u-syndication,
#main-h-entry .p-author,
#main-h-entry .dt-published,
#main-h-entry .dt-updated,
#main-h-entry .h2l-indieweb-interactions,
#main-h-entry .p-summary

/* , #bridgy-h-entry */
    {
    display: none;
}

noscript#javascript-alert {
    position: fixed;
    z-index: 8848;
    left: 0;
    top: 0;
    background-color: black;
    color: white;
}

noscript#javascript-alert p::before,
noscript#javascript-alert p::after {
    content: '[!]';
    margin: 16px;
    font-weight: bold;
    color: yellow;
}

/* {% raw %} 里的内容有时用 .h2l-raw-wrapper 包装。 */
.h2l-raw-wrapper>* {
    margin: 0 auto 16px auto;
}

.ai-generated-excerpt {
    padding: 0;
    margin: 16px 0;
    border: 2px solid #0088e0;
    border-radius: 10px;
}

.ai-generated-excerpt .title {
    padding: 16px;
    margin: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    background-color: rgba(0, 136, 224, 0.2);
}

.ai-generated-excerpt .title p {
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
    line-height: 24px;
}

.ai-generated-excerpt .content {
    padding: 0;
    margin: 16px;
}

.ai-generated-excerpt .content p {
    padding: 0;
    margin: 0;
    font-size: 16px;
    line-height: 24px;
}

div.main-content.region-block-hidden {
    display: none;
}

.smui-clearfix::before,
.smui-clearfix::after {
    content: '';
    display: table;
    clear: both;
}

.smui-container {
    padding: 16px;
}

.smui-content {
    margin: 0;
    margin-bottom: 16px;
}

.smui-content p {
    margin: 0;
    margin-bottom: 16px;
}

.smui-func hr {
    margin: 0;
    margin-bottom: 16px;
}

.smui-func .smui-func-left {
    float: left;
}

.smui-func .smui-func-right {
    float: right;
}

#interaction-system-switch {
    margin-left: 4px;
    font-size: 16px;
    text-decoration: underline;
    cursor: pointer;
}

@media (max-width: 768px) {
    #interaction-system-switch {
        font-size: 14px;
    }
}

#interaction-system-switch::before {
    content: '/';
}

#smui-form-webmention-post a {
    text-decoration: underline;
    cursor: pointer;
}

.smui-wrapper-webmention-post {
    display: flex;
    flex-wrap: wrap;
}

.smui-form-item-webmention-post {
    flex-grow: 1;
    /* 取消默认 margin。 */
    margin: 0;
    margin-right: 16px;
    /* layui-form-item 的 margin-bottom 是 15px，我这里和 margin-right 一致。 */
    margin-bottom: 16px;
}

.smui-button-webmention-post-submit {
    margin-bottom: 16px;
}

/* 此处是对 webmention.css 的优化。 */
/* Redefine 评论区标题有一个 768px 的媒体查询，在小屏幕下标题采用小字号。 */
/* 所以这里也相应调小，显得更协调一些。 */
@media (max-width: 768px) {
    #webmentions h2 {
        font-size: 18px;
    }
}